{
    "rules": {
      "semi": ["error", "always"],
      "indent": "off"
    },
    "env": {
      "node": true,
      "jest": true,
      "browser": true,
      "es2021": true
    },
    "ignorePatterns": ["client/assets/dist"]
  }